# Python
*.py[co]
*.egg*
venv
dist
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Coverage
htmlcov/
.coverage
coverage.xml
